## Pandas

In [1]:
import pandas as pd

In [2]:
#series is one dimensional labelled array
s1 = pd.Series([10,20,30,40,70])
s1

0    10
1    20
2    30
3    40
4    70
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

In [8]:
#series with list
s2 = pd.Series([10,20,30,40,70],index=['a','b','c','d','e'])
s2

a    10
b    20
c    30
d    40
e    70
dtype: int64

In [9]:
#series with dictionary
s4 = pd.Series({'a':10,'b':20,'c':30})
s4

a    10
b    20
c    30
dtype: int64

In [12]:
#value is printed according to index
s5 = pd.Series({'a':10,'b':20,'c':30},index=['d','c','a','b'])
s5

d     NaN
c    30.0
a    10.0
b    20.0
dtype: float64

In [13]:
s2

a    10
b    20
c    30
d    40
e    70
dtype: int64

In [14]:
s2[1]

20

In [15]:
#index 3 is excluded
s2[1:3]
# index 1 and index2  are printed

b    20
c    30
dtype: int64

In [17]:
s2[-1]

70

In [20]:
#prints last index
s2[-1:]

e    70
dtype: int64

In [22]:
#printes last and second last index
s2[-2:]

d    40
e    70
dtype: int64

In [24]:
# prints last 3 index
s2[-3:]

c    30
d    40
e    70
dtype: int64

In [27]:
#extracting sequence
s2[:3]

a    10
b    20
c    30
dtype: int64

In [29]:
# adding 5 to each element
s2 + 5

a    15
b    25
c    35
d    45
e    75
dtype: int64

In [33]:
s1 = pd.Series([10,20,30,40,50],index=[1,2,3,4,5])
s1

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [34]:
s2 = pd.Series([10,20,30,40,50])
s2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [36]:
#adding two series
s1 + s2
# s1 has no index 0 
#s2 has no index 5 
# addintion is done according to index

0     NaN
1    30.0
2    50.0
3    70.0
4    90.0
5     NaN
dtype: float64

In [37]:
#Dataframe is 2d labelled data structure
pd.DataFrame({"Name":['Bob','Sam'],"Marks":[20,50]})

  Name  Marks
0  Bob     20
1  Sam     50

In [38]:
#importing data set
iris = pd.read_csv('iris_csv.csv')

In [39]:
iris.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [40]:
iris.tail()

     sepallength  sepalwidth  petallength  petalwidth           class
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [41]:
iris.describe()

       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [43]:
iris.shape

(150, 5)

In [44]:
# iloc is used to extract values from dataset
#iloc[rows index,column index]
# rows  0 to 4 excluding 4 (0 1 2 3)
#column 1 to 3 excluding 3 (1 2)
iris.iloc[0:4,1:3]

   sepalwidth  petallength
0         3.5          1.4
1         3.0          1.4
2         3.2          1.3
3         3.1          1.5

In [45]:
iris.iloc[0:5,1:]

   sepalwidth  petallength  petalwidth        class
0         3.5          1.4         0.2  Iris-setosa
1         3.0          1.4         0.2  Iris-setosa
2         3.2          1.3         0.2  Iris-setosa
3         3.1          1.5         0.2  Iris-setosa
4         3.6          1.4         0.2  Iris-setosa

In [46]:
# loc we mention row index and coloumn name
# NOTE = here 3 is included
#loc[rows index,column name]
iris.loc[0:3,("sepalwidth","class")]

   sepalwidth        class
0         3.5  Iris-setosa
1         3.0  Iris-setosa
2         3.2  Iris-setosa
3         3.1  Iris-setosa

In [51]:
# for renaming columns one way
iris.columns = ["sepallength","sepalwidth","petallength","petalwidth","class"]
iris.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [52]:
#droping column
#for column axis =1
iris.drop('petalwidth',axis = 1)

     sepallength  sepalwidth  petallength           class
0            5.1         3.5          1.4     Iris-setosa
1            4.9         3.0          1.4     Iris-setosa
2            4.7         3.2          1.3     Iris-setosa
3            4.6         3.1          1.5     Iris-setosa
4            5.0         3.6          1.4     Iris-setosa
..           ...         ...          ...             ...
145          6.7         3.0          5.2  Iris-virginica
146          6.3         2.5          5.0  Iris-virginica
147          6.5         3.0          5.2  Iris-virginica
148          6.2         3.4          5.4  Iris-virginica
149          5.9         3.0          5.1  Iris-virginica

[150 rows x 4 columns]

In [53]:
# droping rows axis is 0
iris.drop([2,3],axis = 0)
# row 2 and 3 are deleted

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
5            5.4         3.9          1.7         0.4     Iris-setosa
6            4.6         3.4          1.4         0.3     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[148 rows x 5 columns]

In [54]:
iris.mean()

sepallength    5.843333
sepalwidth     3.054000
petallength    3.758667
petalwidth     1.198667
dtype: float64

In [56]:
iris.median()

sepallength    5.80
sepalwidth     3.00
petallength    4.35
petalwidth     1.30
dtype: float64

In [57]:
iris.min()

sepallength            4.3
sepalwidth               2
petallength              1
petalwidth             0.1
class          Iris-setosa
dtype: object

In [58]:
iris.max()

sepallength               7.9
sepalwidth                4.4
petallength               6.9
petalwidth                2.5
class          Iris-virginica
dtype: object

In [60]:
iris.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [63]:
# Applying function on dataset
def half(s):
    return s*0.5

iris['sepallength'].apply(half)

0      2.55
1      2.45
2      2.35
3      2.30
4      2.50
       ...
145    3.35
146    3.15
147    3.25
148    3.10
149    2.95
Name: sepallength, Length: 150, dtype: float64

In [68]:
#for counting categorial values
iris['class'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: class, dtype: int64

In [70]:
iris.sort_values(by = 'sepallength')

     sepallength  sepalwidth  petallength  petalwidth           class
13           4.3         3.0          1.1         0.1     Iris-setosa
42           4.4         3.2          1.3         0.2     Iris-setosa
38           4.4         3.0          1.3         0.2     Iris-setosa
8            4.4         2.9          1.4         0.2     Iris-setosa
41           4.5         2.3          1.3         0.3     Iris-setosa
..           ...         ...          ...         ...             ...
122          7.7         2.8          6.7         2.0  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica

[150 rows x 5 columns]